@font-face{
    font-family: opensans;
    src: url("../include/Open_Sans/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: opensans-light;
    src: url("../include/Open_Sans/OpenSans-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: opensans-bold;
    src: url("../include/Open_Sans/OpenSans-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: opensans-semibold;
    src: url("../include/Open_Sans/OpenSans-SemiBold.ttf");
    font-weight: normal;
    font-style: normal;
}

a, input[type='submit'], input[type='text'], input[type='password'], input[type='email'], input[type='number'], input[type='date'], textarea{
    -webkit--transition: .2s all ease;
    -moz-transition: .2s all ease;
    -ms-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10{
    position: relative;
    float: left;
}
.col1{ width: 100px; }
.col2{ width: 200px; }
.col3{ width: 300px; }
.col4{ width: 400px; }
.col5{ width: 500px; }
.col6{ width: 600px; }
.col7{ width: 700px; }
.col8{ width: 800px; }
.col9{ width: 900px; }
.col10{ width: 1000px; }

nav{
    width: 100%;
    position: fixed;
    background: #746464;
    left: 0px;
    top: 0px;
    font-family: opensans;
    font-size: 14px;
    z-index: 30;
    box-shadow: 0px 2px 2px #e8dfdf;
}
.batas{
    position: relative;
    overflow: hidden;
    width: 95%;
    max-width: 1000px;
    margin: auto;
}
body{
    background: #efeded;
}

.nav_logo{
    width: 200px;
    height: 45px;
}
.nav_logo img{
    height: 40px;
    margin-top: 4px;
}
.nav_right{
    float: right;
}
.nav_right p{
    margin: 0px;
    padding: 0px;
}
.nav_right a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-family: opensans;
    padding: 15px 20px;
}
.nav_right a:hover{
    background: #4d4444;
}
.after_content{
    position: absolute;
    width: 100%;
    left: 0px;
    width: 100%;
    left: 0px;
    margin-top: 5px;
    font-family: opensans;
    margin-top: 50px;
}

section{
    margin: 25px 0;
    float: left;
}
#after_left{
    color: #5c5050;
    width: 300px;
}
.tombol_langkah{
    padding: 15px 15px;
    border-radius: 3px 0px 0px 3px;
    margin: 15px 0px;
    text-decoration: none;
    color: #696969;
    font-size: 20px;
    display: block;
    position: relative;
}
.tombol_langkah:hover{
    background: #dddddd;   
}
.active{
    background: #dddddd;   
}
.active:after{
    content: "";
    position: absolute;
    border-top: 15px solid transparent;
    border-right: 15px solid #fff;
    border-bottom: 15px solid transparent;
    width: 0px;
    height: 0px;
    right: 0px;   
}
.garis_langkah{
    border-top: 1px solid #aca9a9;
    width: 100%;
}
.posisi_label{
    padding: 10px 15px;
    border-radius: 3px;
    margin: 10px 0px;
}
#after_right{
    background: #fff;
    width: 93%;
    padding: 10px 20px;
    position: relative;
    min-height: 700px;
    border-radius: 3px;
}
#after_right h1{
    font-family: opensans-bold;
    font-weight: normal;
    font-size: 22px;
    color: #727070;
}
#after_right h2{
    font-weight: normal;
    font-family: opensans-bold;
    font-size: 17px;
    color: #727070;
    margin-left: 20px;
}
#after_right table{
    margin: 0px 20px;   
    border-collapse: collapse;
}
#after_right table td{
    color: #727070;
    padding: 10px 5px;
    font-size: 16px;
    font-family: opensans-light;
}
#after_right table td:nth-child(1){
    padding-right: 80px;   
}
#after_right input[type='text'], input[type='date'], input[type='email'], select, textarea, input[type='number'], input[type='password'], input[type='file']{
    border: 1px solid #bab1b1;
    padding: 8px 10px;
    width: 320px;
    font-size: 16px;
    border-radius: 3px;
    font-family: opensans-light;
    box-shadow: inset 0px 2px 3px #e5e5e5;
}
#after_right textarea{
    height: 150px;   
}
#after_right .kode_pos{
    width: 100px;
}
#after_right .no_telp{
    width: 200px;   
}
.tombol_ok{
    font-family: opensans-light;
    border: 1px solid #555151;
    background: #555151;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.tombol_ok:hover{
    background: #6d6565;   
}
.tombol_user{
    color: #4d4444;
    cursor: pointer;
}
.tombol_user:hover{
    color: #382f2f;   
}
.menu_user{
    position: absolute;
    background: #fff;
    z-index: 50;
    padding: 10px;
    float: right;
}
.menu_user p{
    margin: 0px;
    padding: 0px;
}
.menu_user p a{
    display: block;
    text-decoration: none;
    color: #4a4141;
    padding: 10px 15px;
}
.menu_user p a:hover{
    background: #d4c4c4;   
}
footer{
    max-width: 1000px;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    color: #9d8b8b;
    border-top: 1px solid #d3cece;
    font-size: 14px;
}
.tombol_upload{
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.foto_user{
    margin: 50px 0;
    text-align: center;
    width: 100%;
}
.foto_user img{
    border-radius: 100%;
}
.tgl{
    width: 70px;   
}
.bulan{
    width: 150px;   
}
.tahun{
    width: 90px;   
}
.ukuran_foto{
    width: 145px;
    height: 145px;
    overflow: hidden;
    background: #ccc;
    position: relative;
    box-shadow: 0px 2px 2px #beabab;
}
.notif{
    width: 90%;
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    font-size: 14px;
    color: #777777;
    border-radius: 3px;
    background: #e8e2e2;
}
.clear{
    clear: both;
}
.after_right h2{
    font-weight: normal;
    font-size: 14px;
    color: #444;
    margin: 0px 10px;
}

#after_right table td .form_pertanyaan{
    width: 500px;
}

.langkah_terakhir{
    color: #626262;
    margin-top: 20px;
}
.langkah_terakhir p{
    margin: 0px;
}
.langkah_terakhir .kata1{
    font-size: 35px;
    font-family: opensans-bold;
    margin: 10px 0px;
}
.langkah_terakhir .kata2{
    font-size: 25px;
    font-family: opensans-bold;
    margin: 5px 0;
}
.langkah_terakhir .kata3{
    font-size: 15px;
    font-family: opensans;
    margin: 5px 0;
}
.langkah_terakhir .kata4{
    font-size: 20px;
    font-family: opensans;
    margin: 5px 0;
}
.langkah_terakhir a{
    font-size: 15px;
    text-decoration: none;
    color: #444;
    padding: 10px 15px;
    border-radius: 3px;
    display: block;
    text-align: center;
    background: -webkit-linear-gradient(top,#ffffff,#eaeaea);
    background: -moz-linear-gradient(top,#ffffff,#eaeaea);
    background: -ms-linear-gradient(top,#ffffff,#eaeaea);
    background: -o-linear-gradient(top,#ffffff,#eaeaea);
    background: linear-gradient(top,#ffffff,#eaeaea);
    border: 1px solid #e3e3e3;
    margin: 25px 0;
    float: left;
}
.langkah_terakhir a:nth-child(1){
    margin-right: 15px;
}
.langkah_terakhir a:hover{
    background: -webkit-linear-gradient(top,#f2f2f2,#f2f2f2);
    background: -moz-linear-gradient(top,#f2f2f2,#f2f2f2);
    background: -ms-linear-gradient(top,#f2f2f2,#f2f2f2);
    background: -o-linear-gradient(top,#f2f2f2,#f2f2f2);
    background: linear-gradient(top,#f2f2f2,#f2f2f2);  
}
.form_cetak{
    max-width: 1000px;
    width: 100%;
    background: #fff;
    font-family: opensans;
    padding: 0px 40px;
    margin: 20px auto;
    color: #575555;
    font-size: 9px;
}
.form_cetak h1{
    font-family: opensans-bold;
    font-weight: normal;
    text-align: center;
}
.form_cetak table{
    color: #575555;
}
.form_cetak table td{
    padding: 3px 5px;
    font-size: 9px;
}
.form_cetak table td .jarak_form{
    float: left;
    width: 25px;
    margin-top: -1px;
}
.form_cetak table .urutan td{
    padding: 0px 10px;   
}
.menjorok{
    margin: 0px 40px;   
}
.menjorok td:nth-child(1){
    padding-right: 80px;   
}
.judul_tabel{
    font-family: opensans-bold;
    font-size: 9px;
}  
.judul_tabel2{
    font-family: opensans-bold;
    margin: 0px 30px;
    font-size: 9px;
}
.menjorok2{
    margin: 0px 20px;   
}
b{
    font-family: opensans-bold;
    font-weight: normal;
}
.paraf{
    float: right;
    text-align: center;
    margin: 0px 30px;
}
.tidak{
    pointer-events: none;
    cursor: disabled;
    opacity: 0.5;
}
.form_nomer{
    font-family: opensans;
    color: #746464;
    width: 700px;
    margin: 10px auto;
    border: 2px solid #837b7b;
    margin-top: 100px;
}
.form_nomer table td{
    padding: 10px;
    color: #746464;
}
.font_nomer h1{
    font-family: opensans-bold;
    text-align: center;
}
.batas_nomer{
    padding: 10px;
}
.garis_nomer{
    border-bottom: 2px solid #837b7b;  
}
.tgl_nomer{
    float: right;
    font-size: 13px;
}

#after_left .langkah_angka{
    float: left;
    border-radius: 100%;
    padding: 4px 9px 4px 9px;
    color: #fff;
    background: #888;
    font-size: 14px;
    margin-right: 10px;
    text-align: center;
    font-family: opensans-semibold;
}